@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:YOPQ@400;700&display=swap");
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
body {
  font-family: "Kumbh Sans", sans-serif;
}
